.archive-container {
    display: flex;
    flex-direction: column;
    padding: 12rem 2rem;
}

.azar-archive {
    text-align: center;
}

@media (max-width: 768px) {
    .archive-container {
        padding: 0rem 1rem;
    }

    .azar-archive {
        display: none;
    }
}

/* Móvil pequeño */
@media (max-width: 480px) {
    .archive-container {
        /* padding: 4rem 0.75rem; */
        padding: 0;
    }

    .render-especific-grid{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}