:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-display: swap;


  --dark-color: black;
  --light-color: white;
  --neutral-color: #999999;

  --corporative-color: #074495;
  --accent-color: #87ACDD;

  --main-font: 'Futura', Helvetica, Arial, sans-serif;
  --serif--font: 'EB Garamond', serif;
}

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}