.section-residencyDescription {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.description-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.residency-description {
    /* font-size: 2rem; */
    /* font-style: italic; */
    color: var(--dark-color);
    margin: 0 0 1rem 0;
    /* font-family: var(--main-font); */
    font-weight: 200;
    line-height: 1.5;
    text-align: center; 
    margin-top: 4rem;
    width: 100%;
    text-align: justify;

    /* font-family: var(--futura-font);
    font-weight: var(--futura-medium); */
}

.residency-texts {
    width: 80%;
}