.hero2-section {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/Home/HomePage.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero2-section img {
    width: 100%;
    height: auto;
    margin-top: -17rem;
    margin-left: -9rem;
}