.section-hero-phone {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/Home/HomePage.jpg);
    background-size: cover;  
    background-position: center center; 
    background-position: 29% center;
    background-repeat: no-repeat;
}